<div class="admindashboard" >
    <nav-bar :nav-list="navlist" style="margin-bottom: 10px;"></nav-bar>
    <div>
        <div class="admin-grid-container">
            <div class="topboard">
                <div class="topboard-top">CPU使用率</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div v-if="topdata.cpu>90" class="topboard-bottom" style="color:red;">{{topdata.cpu}}%</div>
                <div v-else class="topboard-bottom">{{topdata.cpu}}%</div>
            </div>

            <div class="topboard">
                <div class="topboard-top">内存使用率</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div v-if="topdata.memory>90" class="topboard-bottom" style="color:red;">{{topdata.memory}}%</div>
                <div v-else class="topboard-bottom">{{topdata.memory}}%</div>

            </div>

            <div class="topboard">
                <div class="topboard-top">存储使用率</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div v-if="topdata.storage>90" class="topboard-bottom" style="color:red;">{{topdata.storage}}%</div>
                <div v-else class="topboard-bottom">{{topdata.storage}}%</div>
            </div>

            <div class="topboard">
                <div class="topboard-top">项目数</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div class="topboard-bottom" style="color: black;">{{topdata.project_num}}</div>
            </div>

            <div class="topboard">
                <div class="topboard-top">数据总量</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div class="topboard-bottom" style="color: black; font-size: x-large;">{{topdata.total_data}}</div>
            </div>

            <div class="topboard">
                <div class="topboard-top">日增数据量</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(1)}}</div>
                <div class="topboard-bottom" style="color: black; font-size: x-large;">{{topdata.data_daily_incr}}</div>
            </div>

            <div class="topboard" style="margin-right: 0px;">
                <div class="topboard-top">任务成功率</div>
                <div class="topboard-middle">截止：{{this.getcurrentdate(0)}}</div>
                <div v-if="topdata.task_success_rate<50" class="topboard-bottom" style="color:red;">{{topdata.task_success_rate}}%</div>
                <div v-else class="topboard-bottom">{{topdata.task_success_rate}}%</div>

            </div>

        </div>

        <div class="admin-grid-container" style="margin-top: 20px;">
            <div  class="admin-grid-cell-12">
                <div class="board-title">30天内资源使用率走势</div>
                <div class="admin-grid-container">
                    <div class="admin-grid-cell-12 bottom-continer">
                        <div id="mapuse" class="bottom-map">暂无数据</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin-grid-container" style="margin-top: 20px;">
            <div  class="admin-grid-cell-12">
                <div class="board-title">30天内日增数据量走势</div>
                <div class="admin-grid-container">
                    <div class="admin-grid-cell-12 bottom-continer">
                        <div id="mapdata" class="bottom-map">暂无数据</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="admin-grid-container" style="margin-top: 20px;">
            <div  class="admin-grid-cell-12">
                <div class="board-title">30天内任务成功率走势</div>
                <div class="admin-grid-container">
                    <div class="admin-grid-cell-12 bottom-continer">
                        <div id="mapsuccess" class="bottom-map">暂无数据</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="admin-grid-container" style="margin-top: 20px;">
            <div class="board-title" style="width: 100%">项目核心KPI(截止：{{this.getcurrentdate(1)}})</div>
            <div class=" admin-grid-container " style="width:100%;border:1px solid #dfe1e5">
            <table class="admin-table admin-striped data-table-list"  style="width:100%;">
                <thead>
                <tr>
                    <th style="width:250px;">项目名称</th>
                    <!--<th>项目综合星级</th>-->
                    <th>项目负责人</th>
                    <th><span @click="fetchData(1,1,'order')" class="order-type">CPU利用率</span>
                        <span v-if="orderType==1" :class="getclass(orderBy)" style="font-size:18px; color: red;"></span>
                    </th>
                    <th><span @click="fetchData(1,2,'order')"  class="order-type">内存利用率</span>
                        <span v-if="orderType==2" :class="getclass(orderBy)" style="font-size:18px; color: red;"/></th>
                    <th><span @click="fetchData(1,3,'order')"  class="order-type">存储利用率</span>
                        <span v-if="orderType==3" :class="getclass(orderBy)" style="font-size:18px; color: red;"/></th>
                    <th><span @click="fetchData(1,4,'order')"  class="order-type">数据总量</span>
                        <span v-if="orderType==4" :class="getclass(orderBy)" style="font-size:18px; color: red;"/></th>
                    <th><span @click="fetchData(1,5,'order')"  class="order-type">日增数据量</span>
                        <span v-if="orderType==5" :class="getclass(orderBy)"  style="font-size:18px; color: red;"/></th>
                    <th><span @click="fetchData(1,6,'order')"  class="order-type">任务成功率</span>
                        <span v-if="orderType==6" :class="getclass(orderBy)"  style="font-size:18px; color: red;"/></th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="datalist.list&&datalist.list.length==0">
                    <td  :colspan="9" style="height: 30px;line-height: 30px;text-align: center">暂无数据</td>
                </tr>
                <tr v-for="entry in datalist.list" v-else >
                    <td style="width: 250px; overflow: hidden;" title="entry.projectName">{{entry.projectName}}</td>
                    <!--<td>
                        <span style="overflow: hidden; display: inline-block;" :style="'width:'+entry.score*30+'px'">
                            <img :src="startphone" style="width: 150px; height: 25px;">
                        </span>
                    </td>-->
                    <td>{{entry.userName}}</td>
                    <td>{{entry.cpuUsage}}%</td>
                    <td>{{entry.memoryUsage}}%</td>
                    <td>{{entry.storageUsage}}%</td>
                    <td>{{entry.storageUsed}}</td>
                    <td>{{entry.dataDailyIncr}}</td>
                    <td>{{entry.taskSuccessRate}}%</td>
                </tr>
                </tbody>
            </table>
                    <div  style="text-align: right;width: 100%;">
                        <paginator :total-count="totalCount" :page-size="pageSize" :current-page="currentPage"  @toggle-page="togglePage"></paginator>
                    </div>
                </div>
        </div>



        <div class="admin-grid-container" style="margin-top: 20px;">
            <div class="board-title" style="width: 100%">当前正在执行任务列表</div>
            <ad-tabs :outtabs="tabs" :current-tab-name="currenttag"  style="width:100%;border:1px solid #dfe1e5">
                <div name="batchtag" id="batchtags">
                    <batchcom></batchcom>
                </div>
                <div name="flowtag" id="flowtags">
                    <flowcom></flowcom>
                </div>
            </ad-tabs>
        </div>
    </div>
</div>